footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

#prevBtn,
#nextBtn {
    margin: 20px 20px 50px 20px;
    padding: 10px;
    min-width: 100px;
}


#prevBtn:hover,
#nextBtn:hover {
    background-color: rgb(30, 147, 220);
    cursor: pointer;
}