#photo-container {
    margin: 10px;
    list-style: none;
    columns: 5 320px;
    column-gap: 1em;
}

#photo-container img {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
    display: block;
    border-radius: 20px;
    outline: 1px solid white;
    outline-offset: -5px
}

@media (width <=1200px) {
    #photo-container {
        columns: 3 100px;
        margin: 10px;
        column-gap: 0.8em;
    }

    #photo-container img {

        margin-bottom: 0.8em;
    }
}


@media (width <=600px) {
    #photo-container {
        columns: 2 100px;
        margin: 10px;
        column-gap: 5px;
    }

    #photo-container img {

        margin-bottom: 5px;
    }
}